<template>
  <JSONParser @parse="loadCardData" ref="JSONParser" />
  <CardLayout
    ref="cardLayout"
    @reveal="reveal"
    :cardContents="cardContents"
  />
  <Button class="next-button" @click="nextCard" ref="nextButton">Next</Button>
</template>

<script>
import CardLayout from "@/components/CardLayout.vue";
import Button from "@/components/Button.vue";
import JSONParser from "@/components/JSONParser.vue";


export default {
  name: "Learn",
  components: {
    CardLayout,
    Button,
    JSONParser,
  },
  data() {
    return {
      cardData: [
        {
          term: "Load a card set to start!",
          definition: "Not got a set to load? Head over to the 'create' tab.",
        },
      ],

      cardIndex: 0,

      cardContents: [
        {
          title: "Loading...",
          content: "Loading...",
        },
        {
          title: "Loading...",
          content: "Loading...",
        },
      ],
    };
  },
  mounted() {
    this.updateCards();
  },
  methods: {
    updateCards() {
      this.cardContents = [
        {
          title: "Term",
          content: this.cardData[this.cardIndex].term,
        },
        {
          title: "Definition",
          content: this.cardData[this.cardIndex].definition,
        },
      ];
    },
    nextCard() {
      if (!(this.cardIndex + 1 > this.cardData.length - 1)) {
        this.cardIndex++;
        this.updateCards();
        this.$refs.cardLayout.$refs.hiddenButton.hidden = true;
      }
    },
    reveal() {
      if (!(this.cardIndex + 1 > this.cardData.length - 1)) {
        this.$refs.nextButton.buttonDisabled = false;
      }
    },
    loadCardData(data) {
      this.cardData = data;
      this.cardIndex = -1;
      this.nextCard();
    },
  },
};
</script>

<style lang='scss' scoped>
.next-button {
  align-self: flex-end;
}
</style>