<template>
  <div class="card">
    <div class="card-overlay" v-if="hidden" @click="reveal">
      <div class="text">
        <p>?</p>
        <p class="subtext">Click to reveal</p>
      </div>
    </div>

    <div class="card-header">
      <div class="text-container-80">
        <h4 class="card-title">{{ cardTitle }}</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="text-container-80">
        <FitText><p class="card-content" v-html="cardContent"></p></FitText>
      </div>
    </div>
  </div>
</template>

<script>

import FitText from './FitText.vue'

export default {
  name: "card",
  components: {
    FitText,
  },
  props: {
    cardTitle: String,
    cardContent: String,
    startHidden: Boolean,
  },
  data() {
    return {
      hidden: this.startHidden,
    };
  },
  methods: {
    reveal() {
      this.hidden = false;
      this.$emit('reveal')
    },
  },
};
</script>

<style lang="scss" scoped>
$card-roundness: 25px;

.card-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $medium-grey;
  border-radius: $card-roundness;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
}

.card-overlay p {
  font-size: 12rem;
  font-weight: 600;
  width: 100%;
  line-height: 1em;
}

.card-overlay p.subtext {
  font-size: 1.2rem;
}

.card {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: $card-roundness;
  background-color: $light-grey;
}

.card-header {
  height: 20%;
  width: 100%;
  background-color: $red-primary-accent;
  border-radius: $card-roundness;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  margin: 0;
  font-size: 2rem;
}

.card-content {
  margin: 0;
  display: block;
}

.text-container-80 {
  width: 80%;
  max-height: 80%;
}

p {
  margin: 0;
}
</style>