//https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications

<template>
  <div class="file-container">
    <Button @click="buttonClick" forceEnable class="load-button">Load </Button>
    <p>{{ loadedFileName }}</p>
    <input
      @change="handleFiles"
      ref="fileInput"
      type="file"
      class="file-upload"
      accept=".json"
    />
  </div>
</template>



<script>
import Button from "./Button.vue";

export default {
  name: "JSONParser",
  components: {
    Button,
  },
  data() {
    return {
      fileInput: undefined,
      loadedFileName: "",
    };
  },
  methods: {
    handleFiles() {
      const reader = new FileReader();
      reader.onload = (event) => {
        try {
          this.$emit("parse", JSON.parse(event.target.result));
        } catch (e) {
          console.log(e);
        }
      };
      reader.readAsText(this.$refs.fileInput.files[0]);
      this.loadedFileName = this.$refs.fileInput.files[0].name
    },
    buttonClick() {
      this.$refs.fileInput.click();
    },
  },
  emits: ["parse"],
};
</script>

<style lang="scss" scoped>
input {
  display: none;
}

button {
  align-self: flex-start;
}

.file-container {
  display: flex;
  flex-direction: row;
  gap: inherit;
  align-items: center;
}

p {
    margin: 0;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
}
</style>