<template>
  <a ref="downloadTag"></a>
</template>

<script>
export default {
  name: "JSONDownload",
  data() {
    return {
      
    };
  },
  methods: {
      download(content, filename, contentType) {
          this.$refs.downloadTag.href = URL.createObjectURL(new Blob([content], {type: contentType}));
          this.$refs.downloadTag.download = filename;
          this.$refs.downloadTag.click();

          URL.revokeObjectURL(this.$refs.downloadTag.href);
      }
  }
};
</script>

<style lang="scss" scoped>
a {
  display: none;
}
</style>