<template>
  <div class="container">
    <h1>Welcome 👋 to Alasdair Barton's flashcard app 🗃️</h1>
    <p>
      To make up for all the computer science lessons where I just sit there and
      do nothing ;)<br />Also I need to learn
      <a href="https://v3.vuejs.org/" target="_blank">vue.js</a>. Source code
      available on
      <a href="https://gitlab.com/thebartyparty/flashcards" target="_blank"
        >GitLab</a
      >, hosted on <a href="https://www.netlify.com/">Netlify</a>.<br /><span class="small-text"
        >Probably some of the worst code I've written in ages. Oh well, it looks
        nice I guess ¯\_(ツ)_/¯</span
      >
    </p>
    <div class="buttonLayout">
      <Button forceEnable @click="createClick" :class="($route.name === 'Create') ? 'current-tab' : ''">Create</Button>
      <Button @click="learnClick" forceEnable :class="($route.name === 'Learn') ? 'current-tab' : ''">Learn</Button>
    </div>

    <router-view />
  </div>
</template>

<script>
import Button from "@/components/Button.vue";

export default {
  name: "App",
  components: {
    Button,
  },
  methods: {
    learnClick() {
      this.$router.push("Learn");
    },
    createClick() {
      this.$router.push("Create");
    }
  },
};
</script>

<style scoped lang="scss">
h1,
p {
  text-align: left;
  margin: 0;
}

h1 {
  font-size: 4em;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.buttonLayout {
  display: flex;
  flex-direction: row;
  gap: inherit;

  button {
    background-color: #fff;
    border: 3px solid #000;
  }

  .current-tab {
    background-color: #000;
    color: #FFF;
  }
}

.small-text {
  font-size: 0.7em;
  padding-top: 2em;
  font-style: italic;
}
</style>

<style lang="scss">
body {
  margin: 0;
}

#app {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1025px;
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
</style>
